# Below are a list of installations for a Windows 11 with Miniforge and using Python 3.12.11. 
# This install was used to run pymeshlab
# Other packages are installed but are not necessarily used in this processing.

aioquic==1.2.0
annotated-types==0.7.0
anyio==4.12.1
archspec @ file:///home/conda/feedstock_root/build_artifacts/archspec_1737352602016/work
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
arrow==1.4.0
asciitree==0.3.3
asgiref==3.8.1
asttokens==3.0.0
async-lru==2.3.0
attrs==25.1.0
babel==2.18.0
beautifulsoup4==4.14.3
bleach==6.3.0
blinker==1.9.0
boltons @ file:///home/conda/feedstock_root/build_artifacts/boltons_1749686179973/work
boto3==1.42.73
botocore==1.42.73
Brotli @ file:///D:/bld/brotli-split_1749229870877/work
cellpose @ git+https://www.github.com/mouseland/cellpose.git@d95f58a6676362d4e625076e55cd73b47c3bae26
certifi @ file:///home/conda/feedstock_root/build_artifacts/certifi_1752493286596/work/certifi
cffi @ file:///D:/bld/cffi_1725560655177/work
charset-normalizer @ file:///home/conda/feedstock_root/build_artifacts/charset-normalizer_1746214863626/work
click==8.1.8
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1733218098505/work
colorlog==6.10.1
comm==0.2.3
conda @ file:///D:/bld/conda_1744220045493/work/conda-src
conda-libmamba-solver @ file:///home/conda/feedstock_root/build_artifacts/conda-libmamba-solver_1742219570693/work/src
conda-package-handling @ file:///home/conda/feedstock_root/build_artifacts/conda-package-handling_1736345463896/work
conda_package_streaming @ file:///home/conda/feedstock_root/build_artifacts/conda-package-streaming_1751548120229/work
ConfigArgParse==1.7.1
contourpy==1.3.3
cryptography==44.0.0
cycler==0.12.1
dash==3.2.0
debugpy==1.8.20
decorator==5.2.1
defusedxml==0.7.1
Deprecated==1.3.1
dill==0.4.1
distro @ file:///home/conda/feedstock_root/build_artifacts/distro_1734729835256/work
dredge==1.0.0
dredge-ephys==0.3.0
executing==2.2.1
fasteners==0.20
fastjsonschema==2.21.2
fastremap==1.17.4
filelock==3.19.1
fill_voids==2.1.1
Flask==3.1.0
fonttools==4.60.1
fooof==1.1.1
fqdn==1.5.1
frozendict @ file:///D:/bld/frozendict_1728841449408/work
fsspec==2025.9.0
h11==0.16.0
h2 @ file:///home/conda/feedstock_root/build_artifacts/h2_1738578511449/work
h5py==3.15.1
hpack @ file:///home/conda/feedstock_root/build_artifacts/hpack_1737618293087/work
httpcore==1.0.9
httpx==0.28.1
hyperframe @ file:///home/conda/feedstock_root/build_artifacts/hyperframe_1737618333194/work
ibl-neuropixel==1.10.0
iblutil==1.20.0
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1733211830134/work
imagecodecs==2025.8.2
importlib_metadata==8.7.0
iniconfig==2.3.0
ipykernel==7.2.0
ipython==9.5.0
ipython_pygments_lexers==1.1.1
ipywidgets==8.1.7
isoduration==20.11.0
itsdangerous==2.2.0
jedi==0.19.2
Jinja2==3.1.5
jmespath==1.1.0
joblib==1.5.3
json5==0.13.0
jsonpatch @ file:///home/conda/feedstock_root/build_artifacts/jsonpatch_1733814567314/work
jsonpointer @ file:///D:/bld/jsonpointer_1725303007361/work
jsonschema==4.25.1
jsonschema-specifications==2025.9.1
jupyter==1.1.1
jupyter-console==6.6.3
jupyter-events==0.12.0
jupyter-lsp==2.3.0
jupyter_client==8.8.0
jupyter_core==5.8.1
jupyter_server==2.17.0
jupyter_server_terminals==0.5.4
jupyterlab==4.5.6
jupyterlab_pygments==0.3.0
jupyterlab_server==2.28.0
jupyterlab_widgets==3.0.15
kaitaistruct==0.10
kiwisolver==1.4.9
lark==1.3.1
lazy_loader==0.4
ldap3==2.9.1
libmambapy @ file:///D:/bld/mamba-split_1746515841174/work/libmambapy
llvmlite==0.46.0
MarkupSafe==3.0.2
matplotlib==3.10.7
matplotlib-inline==0.1.7
menuinst @ file:///D:/bld/menuinst_1753546261559/work
mistune==3.2.0
mitmproxy==11.1.2
mitmproxy-windows==0.11.4
mitmproxy_rs==0.11.4
mne==1.10.2
mpmath==1.3.0
msgpack==1.1.0
msvc_runtime==14.44.35112
mtscomp==1.0.2
multiprocess==0.70.19
narwhals==2.4.0
natsort==8.4.0
nbclient==0.10.4
nbconvert==7.17.0
nbformat==5.10.4
neo==0.14.4
nest-asyncio==1.6.0
networkx==3.5
notebook==7.5.5
notebook_shim==0.2.4
numba==0.64.0
numcodecs==0.15.1
numpy==2.2.6
ONE-api==3.5.0
open3d==0.19.0
opencv-python==4.12.0.88
opencv-python-headless==4.12.0.88
packaging @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_packaging_1745345660/work
pandas==2.3.3
pandocfilters==1.5.1
parso==0.8.5
passlib==1.7.4
pillow==11.3.0
platformdirs @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_platformdirs_1746710438/work
plotly==6.3.0
pluggy @ file:///home/conda/feedstock_root/build_artifacts/pluggy_1747339660894/work
pooch==1.8.2
probeinterface==0.3.2
prometheus_client==0.24.1
prompt_toolkit==3.0.52
psutil==7.2.2
publicsuffix2==2.20191221
pure_eval==0.2.3
pyarrow==23.0.1
pyasn1==0.6.1
pyasn1_modules==0.4.1
pycosat @ file:///D:/bld/pycosat_1732588446214/work
pycparser @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_pycparser_1733195786/work
pydantic==2.12.5
pydantic_core==2.41.5
pydicom==3.0.1
pydivert==2.1.0
Pygments==2.19.2
pylsqpack==0.3.19
pymeshlab==2023.12
pyOpenSSL==25.0.0
pyparsing==3.2.1
pyperclip==1.9.0
PyQt5==5.15.11
PyQt5-Qt5==5.15.2
PyQt5_sip==12.17.2
PyQt6==6.9.1
PyQt6-Qt6==6.9.2
PyQt6_sip==13.10.2
pyqtgraph==0.13.7
PySocks @ file:///D:/bld/pysocks_1733217287171/work
pytest==9.0.2
python-dateutil==2.9.0.post0
python-json-logger==4.0.0
pytz==2025.2
pywin32==311
pywinpty==3.0.3
PyYAML==6.0.3
pyzmq==27.1.0
QtPy==2.4.3
quantities==0.16.4
referencing==0.36.2
requests @ file:///home/conda/feedstock_root/build_artifacts/requests_1749498106507/work
retrying==1.4.2
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rfc3987-syntax==1.1.0
roifile==2025.5.10
rpds-py==0.27.1
ruamel.yaml @ file:///D:/bld/ruamel.yaml_1749479940538/work
ruamel.yaml.clib @ file:///D:/bld/ruamel.yaml.clib_1728724639208/work
ruff==0.15.7
s3transfer==0.16.0
schwimmbad==0.4.2
scikit-build==0.18.1
scikit-learn==1.8.0
scipy==1.16.1
segment-anything==1.0
Send2Trash==2.1.0
service-identity==24.2.0
setuptools==82.0.0
six==1.17.0
sortedcontainers==2.4.0
soupsieve==2.8.3
spikeinterface==0.103.2
stack-data==0.6.3
superqt==0.7.6
sympy==1.14.0
tdqm==0.0.1
terminado==0.18.1
threadpoolctl==3.6.0
tifffile==2025.8.28
tinycss2==1.4.0
torch==2.8.0
torchvision==0.23.0
tornado==6.4.2
tqdm @ file:///home/conda/feedstock_root/build_artifacts/tqdm_1735661334605/work
traitlets==5.14.3
truststore @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_truststore_1739009763/work
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2025.3
uri-template==1.3.0
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1750271362675/work
urwid==2.6.16
versioneer==0.29
wcwidth==0.2.13
webcolors==25.10.0
webencodings==0.5.1
websocket-client==1.9.0
Werkzeug==3.1.3
wheel==0.46.3
widgetsnbextension==4.0.14
win_inet_pton @ file:///D:/bld/win_inet_pton_1733130564612/work
wonambi==7.15
wrapt==2.1.2
wsproto==1.2.0
zarr==2.18.7
zipp==3.23.0
zstandard==0.23.0